/*font-family: 'Gowun Batang', serif;
font-family: 'Noto Serif', serif;*/

*{
    margin: 0;
    padding: 0;
}

.barraNavegacion{
    background-image: url("../Images/Fondo12.png");
    background-position: center;
    background-size: cover;
    
}

.nav-link {
    background: 
      linear-gradient(to right, transparent,transparent),
      linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    background-size: 0 0.1em, 100% 0.1em;
  }
  

#navImage{
    border-radius: 100%;
    height: 100%;
    filter: grayscale(0.3);
    
}

#logoInicial{
    height: 300px;
}

.redes{
    color: white;
    font-size: 20px;
    margin: 0px 10px;
}

.redes a{
    text-decoration: none;
    color: white;
}

#btnAbout{
    background-color: rgba(0, 0, 0, 0.719);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    color: white;
}

#description{
    border: 1px solid white;
    border-radius: 10px;
}

#imgAbout{
    border: 5px solid white;
    border-radius: 25%;
}


.iconosSkills{
    color: white;
    font-size: 60px;
    text-align: center;
}

#carfitness{
    width: 100%;
    height: 250px;
    filter: blur(1px) grayscale(0.8);
}

#carfitness:hover{
    filter: blur(0px) grayscale(0);
    transition-timing-function:ease-out;
    transition-duration: 1s;
    transform: scale(1.2);
}


#portfolio{
    width: 100%;
    height: 250px;
    filter: blur(1px) grayscale(0.8);
}

#portfolio:hover{
    filter: blur(0px) grayscale(0);
    transition-timing-function:ease-out;
    transition-duration: 1s;
    transform: scale(1.2);
}

#deposito{
    width: 100%;
    height: 250px;
    filter: blur(1px) grayscale(0.8);
}

#deposito:hover{
    filter: blur(0px) grayscale(0);
    transition-timing-function:ease-out;
    transition-duration: 1s;
    transform: scale(1.2);
}

.linksContact{
    border: 2px solid white;
}

.linkContact{
    border: 2px solid white;
}


/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/
@media (max-width: 576px){
    #carfitness{
        filter: none;
    }
    
    #carfitness:hover{
        transform: none;
    }
    
    
    #portfolio{
        filter: none;
    }
    
    #portfolio:hover{
        transform: none;
    }
    
    #deposito{
        filter: none;
    }
    
    #deposito:hover{
        transform: none;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
   
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

 }