/*font-family: 'Gowun Batang', serif;
font-family: 'Noto Serif', serif;*/

*{
    margin: 0;
    padding: 0;
}

.barraNavegacion{
    background-image: url("../Images/Fondo12.png");
    background-position: center;
    background-size: cover;
    
}


#nombre{
    font-size: 40px;
}

.nav-link {
    background: 
      linear-gradient(to right, transparent,transparent),
      linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    background-size: 0 0.1em, 100% 0.1em;
  }
  

#navImage{
    border-radius: 100%;
    height: 100%;
    filter: grayscale(0.3);
    
}

#logoInicial{
    height: 300px;
}

.redes{
    color: white;
    font-size: 20px;
    margin: 0px 10px;
}

.redes a{
    text-decoration: none;
    color: white;
}

.redes a:hover{
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    transform: scale(1.3);
}

#btnAbout{
    background-color: rgba(19, 18, 18, 0.719);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    color: white;
}

#btnAbout:hover{
    background-color: black;
}

#description{
    border: 1px solid white;
    border-radius: 10px;
}

#descripcion{
    font-size: 20px;
}

#imgAbout{
    border: 5px solid white;
    border-radius: 25%;
}


.iconosSkills{
    color: white;
    font-size: 60px;
    text-align: center;
}

.iconosSkills i:hover{
    color: rgb(155, 146, 146);
}

#carfitness{
    width: 95%;
    height: 250px;
    filter: blur(1px) grayscale(0.8);
}

#carfitness:hover{
    filter: blur(0px) grayscale(0);
    transition-timing-function:ease-out;
    transition-duration: 1s;
    transform: scale(1.2);
}


#portfolio{
    width: 95%;
    height: 250px;
    filter: blur(1px) grayscale(0.8);
}

#portfolio:hover{
    filter: blur(0px) grayscale(0);
    transition-timing-function:ease-out;
    transition-duration: 1s;
    transform: scale(1.2);
}

#deposito{
    width: 95%;
    height: 250px;
    filter: blur(1px) grayscale(0.8);
}

#deposito:hover{
    filter: blur(0px) grayscale(0);
    transition-timing-function:ease-out;
    transition-duration: 1s;
    transform: scale(1.2);
}

.linkContact{
    border: 2px solid white;
}

.linkContact .link{
    color: white;
}

.linkContact  i:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transform: scale(1.3);
}

.copyright{
    background-color: rgba(27, 26, 26, 0.603);
}
.copyright p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/
@media (max-width: 576px){
    h1{
        font-size: 20px;
    }

    #nombre{
        font-size: 26px;
    }

    #descripcion{
        font-size: 16px;
    }

    .skill_title{
        margin-top: 50px;
    }

    .redes a:hover{
        transform: none;
    }

    #carfitness{
        width: 100%;
        filter: none;
    }
    
    #carfitness:hover{
        transform: none;
    }
    

    #portfolio{
        width: 100%;
        filter: none;
    }
    
    #portfolio:hover{
        transform: none;
    }
    
    #deposito{
        width: 100%;
        filter: none;
    }
    
    #deposito:hover{
        transform: none;
    }

    #contact{
        margin-top: 50px;
        margin-bottom: 50px;;
    }

    #rowContact{
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .linkContact{
        border: 1px solid rgb(184, 181, 181);
    }

    
    
    .linkContact p{
        font-size: 15px;
    }

    .linkContact  i:hover{
        transform: none;
    }

    .itemsNavInferior a{
        width: fit-content;
    }

    
    

    .itemsNavInferior{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }

    

    .linkBottom{
        margin-left: 3px;
        margin-right: 3px;
        font-size: 13px;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
   
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

 }